{#- Display processing or error panel if validation failed #}
{% if processing %}
    {% call panel(id='processing-info', class='u-mb-s') %}Processing collection exercise – <a id="a-processing-refresh" href="">refresh to see progress</a>{% endcall %}
{% elif get_flashed_messages('failed_validation') %}
    {% call panel(id='validation-error', type='error', class='u-mb-s') %}
        Error processing collection exercise
        {% if missing_ci %}
        <div id="collection-instrument-error">
        <a href="#ciFile">Check collection instruments</a>
        </div>
        {% endif %}
    {% endcall %}
{% endif %}

{# Display error if generic 'error' flash category passed #}
{% if get_flashed_message('error') %}
    {% call panel(id='validation-error', type='error', header='An error has occurred', class='u-mb-s') %} {{ get_flashed_message('error') }} {% endcall %}
{% endif %}

{# Show state message panels #}
{% if sample == 'true' and get_flashed_messages() %}
    {% if sample.state == 'INIT' %}
    {% call panel(class='u-mb-l') %}Loading sample&hellip; <span class="u-ml-xs"><a href="/surveys/{{survey.shortName}}/{{ce.exerciseRef}}?show_msg=true">Refresh to see progress</a></span>{% endcall %}
    {% elif sample.state == 'ACTIVE' %}
    {% call panel(class='u-mb-l', type='success', id='sample-success') %}Sample loaded successfully{% endcall %}
    {% elif sample.state == 'FAILED' %}0
    {% call panel(class='u-mb-l', type='error') %}Error loading sample <span class="u-ml-xs"><a href="#section-sample">See error details</a></span>{% endcall %}
    {% endif %}
{% endif %}